<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/club" method="POST">
      <label for="member">member code</label>
      <input type="text" name="member" id="member" placeholder="membercode" />
    </form>
  </body>
</html>
