<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>hi lol</div>
    <a href="/signup">signup</a>
    <a href="/club">become a member of club</a>
    <% if (locals.user) { %>
    <div>hi user</div>
    <% } else { %>
    <a href="/login">login</a>
    <% } %>
  </body>
</html>
