<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.errors) {%>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
    <form action="/message" method="POST">
      <div>
        <label for="title">title</label>
        <input type="text" name="title" placeholder="title" id="title" />
      </div>
      <div>
        <label for="message">message</label>
        <input type="text" name="message" placeholder="message" id="message" />
      </div>
      <button>submit</button>
    </form>
  </body>
</html>
