<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <% if (locals.errors) {%>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
    <form action="/signup" method="POST">
      <div>
        <label for="firstname">firstname</label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          placeholder="firstname"
        />
      </div>
      <div>
        <label for="lastname">lastname</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          placeholder="lastname"
        />
      </div>
      <div>
        <label for="username">username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="username"
        />
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" />
      </div>
      <div>
        <label for="isMember">isMember</label>
        <input type="checkbox" name="isMember" id="isMember" />
      </div>
      <div>
        <label for="isAdmin">isAdmin</label>
        <input type="checkbox" name="isAdmin" id="isAdmin" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
